#title {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}

#intro {
    margin-top: 20px;
    color: #ffffff;
    font-style: italic;
    font-size: 10px;
}

.header {
    background-image: linear-gradient(-45deg , rgb(27,0,180) ,rgb(38, 0, 255), white, rgb(38, 0, 255) );
    text-align: center;
    padding: 50px;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#tips {
    color: gray;
    text-align: center;
    font-size: xx-small;
}

.footer {
    background-color: rgb(27, 0, 180);
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: 500px;
}