#title {
    color: #ffffff;
    font-weight: 5%;
    font-size: 300%;
    width: 600px;
    text-decoration: none;
}

#intro {
    color: #ffffff;
    font-size: 70%;
    width: 200px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
}

.header {
    background-color: rgb(0, 0, 167);
    padding: 10px;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.footer {
    color: blue;
    font-size: 12px;
    text-align: center;
    margin-top: 50%;
}

.article-title {
    font-weight: bold;
    font-size: 150%;
    margin-top: 0.5%;
    margin-left: 10%;
}

.article-time {
    margin-top: 0.5%;
    margin-left: 10%;
    font-size: 14px;
}


#main-title {
    font-size: 175%;
    font-weight: 800;
    color: darkblue;
    margin-left: 5%;
    margin-top: 3%;
}

.line {
    margin-top: 5px;
    margin-left: 5%;
    background-color: darkblue;
    width: 90%;
    height: 10px;
}

#contact {
    right: 0.2%;
    width: 150px;
    font-weight: 320;
    color:rgb(125, 125, 255);
    float: left;
    display: inline-block;
    position: absolute;
}

.index {
    margin-top: 1%;
    margin-left: 10%;
}

.Video {
    margin-left: 20%;
}

#LK-1 {
    margin-top: 1%;
}

