#title {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}

#intro {
    margin-top: 20px;
    color: #ffffff;
    font-style: italic;
    font-size: 10px;
}

.header {
    background-image: linear-gradient(-60deg , rgb(32, 0, 211) ,rgb(80, 49, 255), rgb(65, 125, 255), rgb(38, 0, 255) ,rgb(23, 0, 151));
    text-align: center;
    padding: 50px;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#tips {
    color: gray;
    text-align: center;
    font-size: xx-small;
}

.footer {
    background-color: rgb(27, 0, 180);
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: 500px;
}